In [1]:
import pandas as pd

In [2]:
df0830 = pd.read_csv('S-DoT_WALK_2021.08.30-09.05.csv', encoding = 'cp949')
df0906 = pd.read_csv('S-DoT_WALK_2021.09.06-09.12.csv', encoding = 'cp949')
df0913 = pd.read_csv('S-DoT_WALK_2021.09.13-09.19.csv', encoding = 'cp949') 
df0920 = pd.read_csv('S-DoT_WALK_2021.09.20-09.26.csv', encoding = 'cp949')
df0928 = pd.read_csv('S-DoT_WALK_2021.09.27-10.03.csv', encoding = 'cp949')
df1004 = pd.read_csv('S-DoT_WALK_2021.10.04-10.10.csv', encoding = 'cp949')
df1011 = pd.read_csv('S-DoT_WALK_2021.10.11-10.17.csv', encoding = 'cp949')
df1018 = pd.read_csv('S-DoT_WALK_2021.10.18-10.24.csv', encoding = 'cp949')
df1025 = pd.read_csv('S-DoT_WALK_2021.10.25-10.31.csv', encoding = 'cp949')
df1101 = pd.read_csv('S-DoT_WALK_2021.11.01-11.07.csv', encoding = 'cp949')
df1108 = pd.read_csv('S-DoT_WALK_2021.11.08.csv', encoding = 'cp949')
# df1109 = pd.read_excel('S-DoT_WALK_2021.11.09-11.14.xlsx')
df1115 = pd.read_csv('S-DoT_WALK_2021.11.15-11.21.csv', encoding = 'cp949')
df1122 = pd.read_csv('S-DoT_WALK_2021.11.22-11.28.csv', encoding = 'cp949')
df1129 = pd.read_csv('S-DoT_WALK_2021.11.29-12.05.csv', encoding = 'cp949')
df1206 = pd.read_csv('S-DoT_WALK_2021.12.06-12.12.csv', encoding = 'cp949')
df1213 = pd.read_csv('S-DoT_WALK_2021.12.13-12.19.csv', encoding = 'cp949')
df1220 = pd.read_csv('S-DoT_WALK_2021.12.20-12.26.csv', encoding = 'cp949')
df1227 = pd.read_csv('S-DoT_WALK_2021.12.27-01.02.csv', encoding = 'cp949')

In [3]:
df_list = [df0830, df0906, df0913, df0920, df0928, df1004, df1011, 
          df1018, df1025, df1101, df1108, df1115, df1122,
          df1129, df1206, df1213, df1220, df1227]
# df1109데이터만 컬럼명이 달라 제외

In [4]:
col_list = ['시리얼', '방문자수', '등록일자']

In [5]:
for df in df_list:
    df = df[col_list]
    print(df.head(2))

      시리얼  방문자수             등록일자
0  4027.0   4.0  2021-08-30 0:00
1  4033.0   8.0  2021-08-30 0:00
      시리얼  방문자수             등록일자
0  4027.0   6.0  2021-09-08 0:00
1  4033.0   5.0  2021-09-08 0:00
    시리얼  방문자수             등록일자
0  4033     8  2021-09-13 0:00
1  4027     6  2021-09-13 0:00
    시리얼  방문자수             등록일자
0  4027     4  2021-09-20 0:00
1  4033    12  2021-09-20 0:00
    시리얼  방문자수             등록일자
0  4027    10  2021-09-27 0:00
1  4033     2  2021-09-27 0:00
    시리얼  방문자수              등록일자
0  4027    62  2021-10-05 17:40
1  4033    61  2021-10-05 17:40
    시리얼  방문자수             등록일자
0  4027     9  2021-10-12 0:00
1  4033     5  2021-10-12 0:00
    시리얼  방문자수             등록일자
0  4027     3  2021-10-18 0:00
1  4033     4  2021-10-18 0:00
    시리얼  방문자수             등록일자
0  4027     5  2021-10-25 0:00
1  4033     7  2021-10-25 0:00
    시리얼  방문자수             등록일자
0  4027     7  2021-11-01 0:00
1  4018   102  2021-11-01 0:00
    시리얼  방문자수             등록일자
0  4027     6  2021-11-08 0:00
1  4033    21  2021-11-08 0:00
    시리얼  방문자수             등록일자
0  4027     8  2021-11-15 0:00
1  4033     8  2021-11-15 0:00
    시리얼  방문자수             등록일자
0  4027     6  2021-11-22 0:00
1  4033     9  2021-11-22 0:00
    시리얼  방문자수             등록일자
0  4033    17  2021-11-29 0:00
1  4041     1  2021-11-29 0:00
    시리얼  방문자수             등록일자
0  4027    11  2021-12-06 0:00
1  4033     9  2021-12-06 0:00
    시리얼  방문자수             등록일자
0  4033    12  2021-12-13 0:00
1  4041     5  2021-12-13 0:00
    시리얼  방문자수             등록일자
0  4027     3  2021-12-20 0:00
1  4033     4  2021-12-20 0:00
              시리얼                 방문자수  등록일자
서울시 SDOT001  4027  2021-12-27 00:00:02   NaN
    SDOT001  4033  2021-12-27 00:00:06   NaN

## 비정상 데이터

- df1227 #12월 27일 데이터 -> 컬럼이 뒤바뀜 ...이상함 
- df1109 #11월 9일데이터 -> 유일하게 컬럼명이 다름

## 정상데이터 확인

In [6]:
df0830.head(1) # 정상데이터

,기관 명,모델명,시리얼,서버타입,사이트명,방문자수,날짜,등록일자
0,서울시,SDOT001,4027.0,00Original,4027.0,4.0,2.021080e+11,2021-08-30 0:00

## 비정상데이터 확인

In [7]:
df1227.head(1)
# 인덱스가 서울시, SDOT001로 되어있음

,,기관 명,모델명,시리얼,서버타입,사이트명,방문자수,날짜,등록일자
서울시,SDOT001,4027,00Original,4027,3,202112260000,2021-12-27 00:00:02,NaN,NaN

In [8]:
df1109 = pd.read_excel('S-DoT_WALK_2021.11.09-11.14.xlsx')
df1109.head(1)

,모델명,시리얼,서버타입,사이트명,지역명,지역아이디,방문자수 (명),날짜,등록 일시
0,SDOT001,4027,00Original,4027,1,1,11,202111080000,2021-11-09 00:00:03

### df1227 컬럼명 처리

In [9]:
df1227.reset_index(inplace = True)
df1227.head(1)

,level_0,level_1,기관 명,모델명,시리얼,서버타입,사이트명,방문자수,날짜,등록일자
0,서울시,SDOT001,4027,00Original,4027,3,202112260000,2021-12-27 00:00:02,NaN,NaN

In [10]:
# 사용될 컬럼 : ['시리얼', '방문자수', '등록일자'] 
# df1227의 ['기관 명', '서버타입', '방문자수']에 해당
df1227 = df1227[['기관 명', '서버타입', '방문자수']]

In [11]:
df1227.head(1)

   기관 명  서버타입                 방문자수
0  4027     3  2021-12-27 00:00:02

In [12]:
df1227.columns = col_list

In [13]:
df1227.head(1)
# 처리 완료

    시리얼  방문자수                 등록일자
0  4027     3  2021-12-27 00:00:02

### df1109 컬럼명 처리

In [14]:
df1109.info(1) # 컬럼명 변경 필요 
# 사용될 컬럼 : 시리얼, 방문자수, 등록일자
# 등록일시 -> 등록일자
# 방문자수(명) -> 방문자수
# 나머지는 drop

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81442 entries, 0 to 81441
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   모델명       81442 non-null  object
 1   시리얼       81442 non-null  int64
 2   서버타입      81442 non-null  object
 3   사이트명      81442 non-null  int64
 4   지역명       81442 non-null  int64
 5   지역아이디     81442 non-null  int64
 6   방문자수 (명)  81442 non-null  int64
 7   날짜        81442 non-null  int64
 8   등록 일시     81442 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 5.6+ MB

In [15]:
df1109.info(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81442 entries, 0 to 81441
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   모델명       81442 non-null  object
 1   시리얼       81442 non-null  int64
 2   서버타입      81442 non-null  object
 3   사이트명      81442 non-null  int64
 4   지역명       81442 non-null  int64
 5   지역아이디     81442 non-null  int64
 6   방문자수 (명)  81442 non-null  int64
 7   날짜        81442 non-null  int64
 8   등록 일시     81442 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 5.6+ MB

In [16]:
df1109 = df1109[['시리얼', '방문자수 (명)', '등록 일시']]

In [17]:
df1109.head(1)

    시리얼  방문자수 (명)               등록 일시
0  4027        11 2021-11-09 00:00:03

In [18]:
df1109.columns = col_list

In [19]:
df1109.head(1)
# 처리완료

    시리얼  방문자수                등록일자
0  4027    11 2021-11-09 00:00:03

### 나머지 정상데이터 컬럼 처리

In [20]:
df0830 = df0830[col_list]
df0906 = df0906[col_list]
df0913 = df0913[col_list]
df0920 = df0920[col_list]
df0928 = df0928[col_list]
df1004 = df1004[col_list]
df1011 = df1011[col_list]
df1018 = df1018[col_list]
df1025 = df1025[col_list]
df1101 = df1101[col_list]
df1108 = df1108[col_list]
df1115 = df1115[col_list]
df1122 = df1122[col_list]
df1129 = df1129[col_list]
df1206 = df1206[col_list]
df1213 = df1213[col_list]
df1220 = df1220[col_list]
# 이거 for문으로 할랬는데 안돼서 이렇게 노가다 해써요,...

In [21]:
df0830.head(1)

      시리얼  방문자수             등록일자
0  4027.0   4.0  2021-08-30 0:00

In [22]:
df0830.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52527 entries, 0 to 52526
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시리얼     52526 non-null  float64
 1   방문자수    52526 non-null  float64
 2   등록일자    52527 non-null  object
dtypes: float64(2), object(1)
memory usage: 1.2+ MB

In [23]:
df1109.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81442 entries, 0 to 81441
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시리얼     81442 non-null  int64
 1   방문자수    81442 non-null  int64
 2   등록일자    81442 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2)
memory usage: 1.9 MB

In [24]:
df1227.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87789 entries, 0 to 87788
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시리얼     87789 non-null  int64
 1   방문자수    87789 non-null  int64
 2   등록일자    87789 non-null  object
dtypes: int64(2), object(1)
memory usage: 2.0+ MB

In [25]:
df1227.head()

    시리얼  방문자수                 등록일자
0  4027     3  2021-12-27 00:00:02
1  4033     4  2021-12-27 00:00:06
2  4041     0  2021-12-27 00:00:11
3  4015    10  2021-12-27 00:00:16
4  4031     1  2021-12-27 00:00:22

## 데이터 병합

In [26]:
# df_list2에 df1109, df1227 추가
df_list2 = [df0830, df0906, df0913, df0920, df0928, df1004, df1011, 
          df1018, df1025, df1101, df1108, df1109, df1115, df1122,
          df1129, df1206, df1213, df1220, df1227]

In [27]:
df_all = pd.concat(df_list2, ignore_index = True)

In [28]:
df_all.info()
#결측치 2개... 왜나왔는지 모르겠는데 그냥 삭제하려구요..

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1469762 entries, 0 to 1469761
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   시리얼     1469760 non-null  float64
 1   방문자수    1469760 non-null  float64
 2   등록일자    1469762 non-null  object
dtypes: float64(2), object(1)
memory usage: 33.6+ MB

In [29]:
df_all.head()

      시리얼  방문자수             등록일자
0  4027.0   4.0  2021-08-30 0:00
1  4033.0   8.0  2021-08-30 0:00
2  4041.0   2.0  2021-08-30 0:00
3  4015.0   3.0  2021-08-30 0:00
4  4031.0   3.0  2021-08-30 0:00

In [30]:
df_all.dropna(inplace = True)

In [31]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1469760 entries, 0 to 1469761
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   시리얼     1469760 non-null  float64
 1   방문자수    1469760 non-null  float64
 2   등록일자    1469760 non-null  object
dtypes: float64(2), object(1)
memory usage: 44.9+ MB

### 등록일자 -> 날짜형식 변경

In [32]:
df_all.head(1)

      시리얼  방문자수             등록일자
0  4027.0   4.0  2021-08-30 0:00

In [33]:
df_all['new_등록일자'] = pd.to_datetime(df_all['등록일자'])

In [34]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1469760 entries, 0 to 1469761
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   시리얼       1469760 non-null  float64
 1   방문자수      1469760 non-null  float64
 2   등록일자      1469760 non-null  object
 3   new_등록일자  1469760 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 56.1+ MB

In [35]:
df_all

            시리얼  방문자수                 등록일자            new_등록일자
0        4027.0   4.0      2021-08-30 0:00 2021-08-30 00:00:00
1        4033.0   8.0      2021-08-30 0:00 2021-08-30 00:00:00
2        4041.0   2.0      2021-08-30 0:00 2021-08-30 00:00:00
3        4015.0   3.0      2021-08-30 0:00 2021-08-30 00:00:00
4        4031.0   3.0      2021-08-30 0:00 2021-08-30 00:00:00
...         ...   ...                  ...                 ...
1469757  4040.0   9.0  2022-01-02 23:57:42 2022-01-02 23:57:42
1469758  4042.0   1.0  2022-01-02 23:57:48 2022-01-02 23:57:48
1469759  4025.0   0.0  2022-01-02 23:57:52 2022-01-02 23:57:52
1469760  4044.0   0.0  2022-01-02 23:58:05 2022-01-02 23:58:05
1469761  4044.0   0.0  2022-01-02 23:59:06 2022-01-02 23:59:06

[1469760 rows x 4 columns]

In [36]:
df_all['날짜'] = df_all['new_등록일자'].dt.strftime('%y-%m-%d')
#날짜 추가

In [37]:
df_all.head(3)

      시리얼  방문자수             등록일자   new_등록일자        날짜
0  4027.0   4.0  2021-08-30 0:00 2021-08-30  21-08-30
1  4033.0   8.0  2021-08-30 0:00 2021-08-30  21-08-30
2  4041.0   2.0  2021-08-30 0:00 2021-08-30  21-08-30

In [38]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1469760 entries, 0 to 1469761
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   시리얼       1469760 non-null  float64
 1   방문자수      1469760 non-null  float64
 2   등록일자      1469760 non-null  object
 3   new_등록일자  1469760 non-null  datetime64[ns]
 4   날짜        1469760 non-null  object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 67.3+ MB

In [39]:
df_all['분기'] = df_all['new_등록일자'].dt.month

In [40]:
df_all.head()

      시리얼  방문자수             등록일자   new_등록일자        날짜  분기
0  4027.0   4.0  2021-08-30 0:00 2021-08-30  21-08-30   8
1  4033.0   8.0  2021-08-30 0:00 2021-08-30  21-08-30   8
2  4041.0   2.0  2021-08-30 0:00 2021-08-30  21-08-30   8
3  4015.0   3.0  2021-08-30 0:00 2021-08-30  21-08-30   8
4  4031.0   3.0  2021-08-30 0:00 2021-08-30  21-08-30   8

In [41]:
df_all['분기'].loc[df_all['분기'] == 8] = 3
df_all['분기'].loc[df_all['분기'] == 9] = 3
df_all['분기'].loc[df_all['분기'] == 10] = 4
df_all['분기'].loc[df_all['분기'] == 11] = 4
df_all['분기'].loc[df_all['분기'] == 12] = 4

/home/ubuntu/anaconda3/envs/python3/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [43]:
df_all['분기'].unique() #1월은 1분기라서 그냥 두었습니당

array([3, 4, 1])

In [46]:
df_all['요일'] = df_all['new_등록일자'].dt.weekday

In [48]:
df_all.head(3)

      시리얼  방문자수             등록일자   new_등록일자        날짜  분기  요일
0  4027.0   4.0  2021-08-30 0:00 2021-08-30  21-08-30   3   0
1  4033.0   8.0  2021-08-30 0:00 2021-08-30  21-08-30   3   0
2  4041.0   2.0  2021-08-30 0:00 2021-08-30  21-08-30   3   0

In [49]:
df_all['요일'].unique()
# 0: 월, 1: 화 ....6: 일

array([0, 1, 3, 4, 5, 2, 6])

In [50]:
week_list = ['월', '화', '수', '목', '금', '토', '일']

df_all['요일'] = df_all.apply(lambda x : week_list[x['요일']], axis = 1)

In [52]:
df_all.head()

      시리얼  방문자수             등록일자   new_등록일자        날짜  분기 요일
0  4027.0   4.0  2021-08-30 0:00 2021-08-30  21-08-30   3  월
1  4033.0   8.0  2021-08-30 0:00 2021-08-30  21-08-30   3  월
2  4041.0   2.0  2021-08-30 0:00 2021-08-30  21-08-30   3  월
3  4015.0   3.0  2021-08-30 0:00 2021-08-30  21-08-30   3  월
4  4031.0   3.0  2021-08-30 0:00 2021-08-30  21-08-30   3  월

In [53]:
df_all['시간'] = df_all['new_등록일자'].dt.strftime('%H:%M')

In [54]:
df_all.head()

      시리얼  방문자수             등록일자   new_등록일자        날짜  분기 요일     시간
0  4027.0   4.0  2021-08-30 0:00 2021-08-30  21-08-30   3  월  00:00
1  4033.0   8.0  2021-08-30 0:00 2021-08-30  21-08-30   3  월  00:00
2  4041.0   2.0  2021-08-30 0:00 2021-08-30  21-08-30   3  월  00:00
3  4015.0   3.0  2021-08-30 0:00 2021-08-30  21-08-30   3  월  00:00
4  4031.0   3.0  2021-08-30 0:00 2021-08-30  21-08-30   3  월  00:00

In [55]:
df_all.tail()

,시리얼,방문자수,등록일자,new_등록일자,날짜,분기,요일,시간
1469757,4040.0,9.0,2022-01-02 23:57:42,2022-01-02 23:57:42,22-01-02,1,일,23:57
1469758,4042.0,1.0,2022-01-02 23:57:48,2022-01-02 23:57:48,22-01-02,1,일,23:57
1469759,4025.0,0.0,2022-01-02 23:57:52,2022-01-02 23:57:52,22-01-02,1,일,23:57
1469760,4044.0,0.0,2022-01-02 23:58:05,2022-01-02 23:58:05,22-01-02,1,일,23:58
1469761,4044.0,0.0,2022-01-02 23:59:06,2022-01-02 23:59:06,22-01-02,1,일,23:59

In [57]:
df_new = df_all[['시리얼', '방문자수', '날짜', '분기', '시간', '요일']]

In [58]:
df_new.head()

      시리얼  방문자수        날짜  분기     시간 요일
0  4027.0   4.0  21-08-30   3  00:00  월
1  4033.0   8.0  21-08-30   3  00:00  월
2  4041.0   2.0  21-08-30   3  00:00  월
3  4015.0   3.0  21-08-30   3  00:00  월
4  4031.0   3.0  21-08-30   3  00:00  월

In [59]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1469760 entries, 0 to 1469761
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   시리얼     1469760 non-null  float64
 1   방문자수    1469760 non-null  float64
 2   날짜      1469760 non-null  object
 3   분기      1469760 non-null  int64
 4   시간      1469760 non-null  object
 5   요일      1469760 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 78.5+ MB

In [61]:
df_new.to_csv('S-DoT_WALK_2021_3,4분기.csv', encoding = 'cp949')