# 자치구, 동, 코드 csv생성

In [1]:
import pandas as pd
# pdf -> 엑셀로 복붙 한 파일 불러오기
df = pd.read_excel('C:/Data_Engineer_Study/멀캠_PJT_1/Data_set/Raw_Data/상권 매출데이터/구,동별_코드_처리전.xlsx')

In [2]:
df.head(10)

    순번  자치구            동       코드
0    1  용산구        이태원1동  1001491
1    2   중구          소공동  1001492
2  NaN  NaN          NaN      NaN
3  NaN  NaN          NaN      NaN
4    3   중구          광희동  1001493
5    4  종로구  종로1.2.3.4가동  1001494
6    5  송파구          오륜동  1001495
7    6  강남구         삼성1동  1001496
8    7  종로구          평창동  2110001
9    8  종로구          무악동  2110002

In [3]:
df.isna().sum() # pdf를 엑셀에 복붙하다보니 결측치 및 이상하게 복사된 값 있음

순번     409
자치구    409
동      409
코드     414
dtype: int64

In [4]:
df.dropna(inplace = True)

In [5]:
df.isna().sum()

순번     0
자치구    0
동      0
코드     0
dtype: int64

In [6]:
df['자치구'].unique() # '상권분석' 행 제거 필요

array(['용산구', '중구', '종로구', '송파구', '강남구', '상권분석', '성동구', '광진구', '동대문구',
       '성북구', '중랑구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구',
       '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강동구'],
      dtype=object)

In [7]:
idx = df[df['자치구'] == '상권분석'].index
df.drop(idx, inplace = True)

In [8]:
df['자치구'].unique()

array(['용산구', '중구', '종로구', '송파구', '강남구', '성동구', '광진구', '동대문구', '성북구',
       '중랑구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구',
       '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강동구'], dtype=object)

In [9]:
df['자치구'].nunique() # 25개 자치구임을 확인

25

In [10]:
df.set_index('순번',drop = True, inplace = True) # 순번으로 인덱스 초기화

In [11]:
df.head()

    자치구            동       코드
순번
1   용산구        이태원1동  1001491
2    중구          소공동  1001492
3    중구          광희동  1001493
4   종로구  종로1.2.3.4가동  1001494
5   송파구          오륜동  1001495

# 21년도 3,4분기 매출데이터 : 자치구/동 컬럼 추가

In [12]:
df.head()

    자치구            동       코드
순번
1   용산구        이태원1동  1001491
2    중구          소공동  1001492
3    중구          광희동  1001493
4   종로구  종로1.2.3.4가동  1001494
5   송파구          오륜동  1001495

In [13]:
df.head()

    자치구            동       코드
순번
1   용산구        이태원1동  1001491
2    중구          소공동  1001492
3    중구          광희동  1001493
4   종로구  종로1.2.3.4가동  1001494
5   송파구          오륜동  1001495

In [14]:
dic = dict(zip(df.코드, df.자치구))

In [15]:
dic

{1001491: '용산구',
 1001492: '중구',
 1001493: '중구',
 1001494: '종로구',
 1001495: '송파구',
 1001496: '강남구',
 2110001: '종로구',
 2110002: '종로구',
 2110003: '종로구',
 2110004: '종로구',
 2110005: '종로구',
 2110006: '종로구',
 2110007: '종로구',
 2110008: '종로구',
 2110009: '종로구',
 2110010: '종로구',
 2110011: '종로구',
 2110012: '종로구',
 2110013: '종로구',
 2110014: '종로구',
 2110015: '종로구',
 2110016: '종로구',
 2110017: '종로구',
 2110018: '종로구',
 2110019: '종로구',
 2110020: '종로구',
 2110021: '종로구',
 2110022: '종로구',
 2110023: '종로구',
 2110024: '종로구',
 2110025: '종로구',
 2110026: '종로구',
 2110027: '종로구',
 2110028: '종로구',
 2110029: '종로구',
 2110030: '종로구',
 2110031: '종로구',
 2110032: '종로구',
 2110033: '종로구',
 2110034: '종로구',
 2110035: '종로구',
 2110036: '종로구',
 2110037: '종로구',
 2110038: '중구',
 2110039: '중구',
 2110040: '중구',
 2110041: '중구',
 2110042: '중구',
 2110043: '중구',
 2110044: '중구',
 2110045: '중구',
 2110046: '중구',
 2110047: '중구',
 2110048: '중구',
 2110049: '중구',
 2110050: '중구',
 2110051: '중구',
 2110052: '중구',
 2110053: '중구',
 2110054: '중구',
 2110055: '중구',
 2110056: '중구',
 2110057: '중구',
 2110058: '용산구',
 2110059: '용산구',
 2110060: '용산구',
 2110061: '용산구',
 2110062: '용산구',
 2110063: '용산구',
 2110064: '용산구',
 2110065: '용산구',
 2110066: '용산구',
 2110067: '용산구',
 2110068: '용산구',
 2110069: '용산구',
 2110070: '용산구',
 2110071: '용산구',
 2110072: '용산구',
 2110073: '용산구',
 2110074: '용산구',
 2110075: '용산구',
 2110076: '용산구',
 2110077: '용산구',
 2110078: '용산구',
 2110079: '용산구',
 2110080: '용산구',
 2110081: '용산구',
 2110082: '용산구',
 2110083: '용산구',
 2110084: '용산구',
 2110085: '용산구',
 2110086: '용산구',
 2110087: '용산구',
 2110088: '용산구',
 2110089: '용산구',
 2110090: '용산구',
 2110091: '용산구',
 2110092: '용산구',
 2110093: '용산구',
 2110094: '용산구',
 2110095: '용산구',
 2110096: '용산구',
 2110097: '용산구',
 2110098: '용산구',
 2110099: '용산구',
 2110100: '성동구',
 2110101: '성동구',
 2110102: '성동구',
 2110103: '성동구',
 2110104: '성동구',
 2110105: '성동구',
 2110106: '성동구',
 2110107: '성동구',
 2110108: '성동구',
 2110109: '성동구',
 2110110: '성동구',
 2110111: '성동구',
 2110112: '성동구',
 2110113: '성동구',
 2110114: '성동구',
 2110115: '성동구',
 2110116: '성동구',
 2110117: '성동구',
 2110118: '성동구',
 2110119: '성동구',
 2110120: '성동구',
 2110121: '성동구',
 2110122: '성동구',
 2110123: '성동구',
 2110124: '성동구',
 2110125: '성동구',
 2110126: '성동구',
 2110127: '성동구',
 2110128: '성동구',
 2110129: '성동구',
 2110130: '성동구',
 2110131: '성동구',
 2110132: '성동구',
 2110133: '성동구',
 2110134: '성동구',
 2110135: '성동구',
 2110136: '성동구',
 2110137: '성동구',
 2110138: '성동구',
 2110139: '광진구',
 2110140: '광진구',
 2110141: '광진구',
 2110142: '광진구',
 2110143: '광진구',
 2110144: '광진구',
 2110145: '광진구',
 2110146: '광진구',
 2110147: '광진구',
 2110148: '광진구',
 2110149: '광진구',
 2110150: '광진구',
 2110151: '광진구',
 2110152: '광진구',
 2110153: '광진구',
 2110154: '광진구',
 2110155: '광진구',
 2110156: '광진구',
 2110157: '광진구',
 2110158: '광진구',
 2110159: '광진구',
 2110160: '광진구',
 2110161: '광진구',
 2110162: '광진구',
 2110163: '광진구',
 2110164: '광진구',
 2110165: '광진구',
 2110166: '광진구',
 2110167: '광진구',
 2110168: '광진구',
 2110169: '광진구',
 2110170: '광진구',
 2110171: '광진구',
 2110172: '광진구',
 2110173: '광진구',
 2110174: '광진구',
 2110175: '광진구',
 2110176: '광진구',
 2110177: '광진구',
 2110178: '광진구',
 2110179: '광진구',
 2110180: '광진구',
 2110181: '동대문구',
 2110182: '동대문구',
 2110183: '동대문구',
 2110184: '동대문구',
 2110185: '동대문구',
 2110186: '동대문구',
 2110187: '동대문구',
 2110188: '동대문구',
 2110189: '동대문구',
 2110190: '동대문구',
 2110191: '동대문구',
 2110192: '동대문구',
 2110193: '동대문구',
 2110194: '동대문구',
 2110195: '동대문구',
 2110196: '동대문구',
 2110197: '동대문구',
 2110198: '동대문구',
 2110199: '동대문구',
 2110200: '동대문구',
 2110201: '동대문구',
 2110202: '동대문구',
 2110203: '동대문구',
 2110204: '동대문구',
 2110205: '동대문구',
 2110206: '동대문구',
 2110207: '동대문구',
 2110208: '동대문구',
 2110209: '동대문구',
 2110210: '동대문구',
 2110211: '동대문구',
 2110212: '동대문구',
 2110213: '동대문구',
 2110214: '동대문구',
 2110215: '동대문구',
 2110216: '동대문구',
 2110217: '동대문구',
 2110218: '동대문구',
 2110219: '동대문구',
 2110220: '동대문구',
 2110221: '성북구',
 2110222: '동대문구',
 2110223: '동대문구',
 2110224: '동대문구',
 2110225: '동대문구',
 2110226: '동대문구',
 2110227: '동대문구',
 2110228: '동대문구',
 2110229: '동대문구',
 2110230: '동대문구',
 2110231: '동대문구',
 2110232: '동대문구',
 2110233: '중랑구',
 2110234: '중랑구',
 2110235: '중랑구',
 2110236: '중랑구',
 2110237: '중랑구',
 2110238: '중랑구',
 2110239: '중랑구',
 2110240: '중랑구',
 2110241: '중랑구',
 2110242: '중랑구',
 2110243: '중랑구',
 2110244: '중랑구',
 2110245: '중랑구',
 2110246: '중랑구',
 2110247: '중랑구',
 2110248: '중랑구',
 2110249: '중랑구',
 2110250: '중랑구',
 2110251: '중랑구',
 2110252: '중랑구',
 2110253: '중랑구',
 2110254: '중랑구',
 2110255: '중랑구',
 2110256: '중랑구',
 2110257: '중랑구',
 2110258: '중랑구',
 2110259: '중랑구',
 2110260: '중랑구',
 2110261: '중랑구',
 2110262: '중랑구',
 2110263: '중랑구',
 2110264: '중랑구',
 2110265: '중랑구',
 2110266: '중랑구',
 2110267: '중랑구',
 2110268: '중랑구',
 2110269: '중랑구',
 2110270: '중랑구',
 2110271: '중랑구',
 2110272: '중랑구',
 2110273: '중랑구',
 2110274: '중랑구',
 2110275: '중랑구',
 2110276: '중랑구',
 2110277: '중랑구',
 2110278: '중랑구',
 2110279: '중랑구',
 2110280: '성북구',
 2110281: '성북구',
 2110282: '성북구',
 2110283: '성북구',
 2110284: '성북구',
 2110285: '성북구',
 2110286: '성북구',
 2110287: '성북구',
 2110288: '성북구',
 2110289: '성북구',
 2110290: '성북구',
 2110291: '성북구',
 2110292: '성북구',
 2110293: '성북구',
 2110294: '성북구',
 2110295: '성북구',
 2110296: '성북구',
 2110297: '성북구',
 2110298: '성북구',
 2110299: '성북구',
 2110300: '성북구',
 2110301: '성북구',
 2110302: '성북구',
 2110303: '성북구',
 2110304: '성북구',
 2110305: '성북구',
 2110306: '성북구',
 2110307: '성북구',
 2110308: '성북구',
 2110309: '성북구',
 2110310: '성북구',
 2110311: '성북구',
 2110312: '성북구',
 2110313: '성북구',
 2110314: '성북구',
 2110315: '성북구',
 2110316: '성북구',
 2110317: '성북구',
 2110318: '성북구',
 2110319: '성북구',
 2110320: '성북구',
 2110321: '성북구',
 2110322: '성북구',
 2110323: '성북구',
 2110324: '성북구',
 2110325: '성북구',
 2110326: '성북구',
 2110327: '성북구',
 2110328: '성북구',
 2110329: '성북구',
 2110330: '성북구',
 2110331: '성북구',
 2110332: '성북구',
 2110333: '성북구',
 2110334: '성북구',
 2110335: '성북구',
 2110336: '성북구',
 2110337: '강북구',
 2110338: '강북구',
 2110339: '강북구',
 2110340: '강북구',
 2110341: '강북구',
 2110342: '강북구',
 2110343: '강북구',
 2110344: '강북구',
 2110345: '강북구',
 2110346: '강북구',
 2110347: '강북구',
 2110348: '강북구',
 2110349: '강북구',
 2110350: '강북구',
 2110351: '강북구',
 2110352: '강북구',
 2110353: '강북구',
 2110354: '강북구',
 2110355: '강북구',
 2110356: '강북구',
 2110357: '강북구',
 2110358: '강북구',
 2110359: '강북구',
 2110360: '강북구',
 2110361: '강북구',
 2110362: '강북구',
 2110363: '강북구',
 2110364: '강북구',
 2110365: '강북구',
 2110366: '강북구',
 2110367: '강북구',
 2110368: '강북구',
 2110369: '강북구',
 2110370: '강북구',
 2110371: '강북구',
 2110372: '강북구',
 2110373: '강북구',
 2110374: '강북구',
 2110375: '강북구',
 2110376: '강북구',
 2110377: '강북구',
 2110378: '강북구',
 2110379: '강북구',
 2110380: '강북구',
 2110381: '강북구',
 2110382: '도봉구',
 2110383: '도봉구',
 2110384: '도봉구',
 2110385: '도봉구',
 2110386: '도봉구',
 2110387: '도봉구',
 2110388: '도봉구',
 2110389: '도봉구',
 2110390: '도봉구',
 2110391: '도봉구',
 2110392: '도봉구',
 2110393: '도봉구',
 2110394: '도봉구',
 2110395: '도봉구',
 2110396: '도봉구',
 2110397: '도봉구',
 2110398: '도봉구',
 2110399: '도봉구',
 2110400: '도봉구',
 2110401: '도봉구',
 2110402: '도봉구',
 2110403: '도봉구',
 2110404: '도봉구',
 2110405: '도봉구',
 2110406: '도봉구',
 2110407: '도봉구',
 2110408: '도봉구',
 2110409: '도봉구',
 2110410: '도봉구',
 2110411: '도봉구',
 2110412: '도봉구',
 2110413: '도봉구',
 2110414: '노원구',
 2110415: '노원구',
 2110416: '노원구',
 2110417: '노원구',
 2110418: '노원구',
 2110419: '노원구',
 2110420: '노원구',
 2110421: '노원구',
 2110422: '노원구',
 2110423: '노원구',
 2110424: '노원구',
 2110425: '노원구',
 2110426: '노원구',
 2110427: '노원구',
 2110428: '노원구',
 2110429: '노원구',
 2110430: '노원구',
 2110431: '노원구',
 2110432: '노원구',
 2110433: '노원구',
 2110434: '노원구',
 2110435: '노원구',
 2110436: '노원구',
 2110437: '노원구',
 2110438: '노원구',
 2110439: '노원구',
 2110440: '노원구',
 2110441: '노원구',
 2110442: '노원구',
 2110443: '은평구',
 2110444: '은평구',
 2110445: '은평구',
 2110446: '은평구',
 2110447: '은평구',
 2110448: '은평구',
 2110449: '은평구',
 2110450: '은평구',
 2110451: '은평구',
 2110452: '은평구',
 2110453: '은평구',
 2110454: '은평구',
 2110455: '은평구',
 2110456: '은평구',
 2110457: '은평구',
 2110458: '은평구',
 2110459: '은평구',
 2110460: '은평구',
 2110461: '은평구',
 2110462: '은평구',
 2110463: '은평구',
 2110464: '은평구',
 2110465: '은평구',
 2110466: '은평구',
 2110467: '은평구',
 2110468: '은평구',
 2110469: '은평구',
 2110470: '은평구',
 2110471: '은평구',
 2110472: '은평구',
 2110473: '은평구',
 2110474: '은평구',
 2110475: '은평구',
 2110476: '은평구',
 2110477: '은평구',
 2110478: '은평구',
 2110479: '은평구',
 2110480: '은평구',
 2110481: '은평구',
 2110482: '은평구',
 2110483: '은평구',
 2110484: '은평구',
 2110485: '은평구',
 2110486: '은평구',
 2110487: '은평구',
 2110488: '은평구',
 2110489: '은평구',
 2110490: '은평구',
 2110491: '은평구',
 2110492: '은평구',
 2110493: '서대문구',
 2110494: '서대문구',
 2110495: '서대문구',
 2110496: '서대문구',
 2110497: '서대문구',
 2110498: '서대문구',
 2110499: '서대문구',
 2110500: '서대문구',
 2110501: '서대문구',
 2110502: '서대문구',
 2110503: '서대문구',
 2110504: '서대문구',
 2110505: '서대문구',
 2110506: '서대문구',
 2110507: '서대문구',
 2110508: '서대문구',
 2110509: '서대문구',
 2110510: '서대문구',
 2110511: '서대문구',
 2110512: '서대문구',
 2110513: '서대문구',
 2110514: '서대문구',
 2110515: '서대문구',
 2110516: '서대문구',
 2110517: '서대문구',
 2110518: '서대문구',
 2110519: '서대문구',
 2110520: '서대문구',
 2110521: '서대문구',
 2110522: '서대문구',
 2110523: '서대문구',
 2110524: '서대문구',
 2110525: '서대문구',
 2110526: '서대문구',
 2110527: '서대문구',
 2110528: '서대문구',
 2110529: '서대문구',
 2110530: '서대문구',
 2110531: '종로구',
 2110532: '서대문구',
 2110533: '서대문구',
 2110534: '서대문구',
 2110535: '서대문구',
 2110536: '서대문구',
 2110537: '서대문구',
 2110538: '서대문구',
 2110539: '서대문구',
 2110540: '마포구',
 2110541: '마포구',
 2110542: '마포구',
 2110543: '마포구',
 2110544: '마포구',
 2110545: '마포구',
 2110546: '마포구',
 2110547: '마포구',
 2110548: '마포구',
 2110549: '마포구',
 2110550: '마포구',
 2110551: '마포구',
 2110552: '마포구',
 2110553: '마포구',
 2110554: '마포구',
 2110555: '마포구',
 2110556: '마포구',
 2110557: '마포구',
 2110558: '마포구',
 2110559: '마포구',
 2110560: '마포구',
 2110561: '마포구',
 2110562: '마포구',
 2110563: '마포구',
 2110564: '마포구',
 2110565: '마포구',
 2110566: '마포구',
 2110567: '마포구',
 2110568: '마포구',
 2110569: '마포구',
 2110570: '마포구',
 2110571: '마포구',
 2110572: '마포구',
 2110573: '마포구',
 2110574: '마포구',
 2110575: '마포구',
 2110576: '마포구',
 2110577: '마포구',
 2110578: '마포구',
 2110579: '마포구',
 2110580: '마포구',
 2110581: '마포구',
 2110582: '마포구',
 2110583: '마포구',
 2110584: '마포구',
 2110585: '마포구',
 2110586: '마포구',
 2110587: '마포구',
 2110588: '마포구',
 2110589: '마포구',
 2110590: '마포구',
 2110591: '중구',
 2110592: '양천구',
 2110593: '양천구',
 2110594: '양천구',
 2110595: '양천구',
 2110596: '양천구',
 2110597: '양천구',
 2110598: '양천구',
 2110599: '양천구',
 2110600: '양천구',
 2110601: '양천구',
 2110602: '양천구',
 2110603: '양천구',
 2110604: '양천구',
 2110605: '양천구',
 2110606: '양천구',
 2110607: '양천구',
 2110608: '양천구',
 2110609: '양천구',
 2110610: '양천구',
 2110611: '양천구',
 2110612: '양천구',
 2110613: '양천구',
 2110614: '양천구',
 2110615: '양천구',
 2110616: '양천구',
 2110617: '양천구',
 2110618: '양천구',
 2110619: '양천구',
 2110620: '양천구',
 2110621: '양천구',
 2110622: '양천구',
 2110623: '양천구',
 2110624: '양천구',
 2110625: '양천구',
 2110626: '양천구',
 2110627: '양천구',
 2110628: '양천구',
 2110629: '강서구',
 2110630: '강서구',
 2110631: '강서구',
 2110632: '강서구',
 2110633: '강서구',
 2110634: '강서구',
 2110635: '강서구',
 2110636: '강서구',
 2110637: '강서구',
 2110638: '강서구',
 2110639: '강서구',
 2110640: '강서구',
 2110641: '강서구',
 2110642: '강서구',
 2110643: '강서구',
 2110644: '강서구',
 2110645: '강서구',
 2110646: '강서구',
 2110647: '강서구',
 2110648: '강서구',
 2110649: '강서구',
 2110650: '강서구',
 2110651: '강서구',
 2110652: '강서구',
 2110653: '강서구',
 2110654: '강서구',
 2110655: '강서구',
 2110656: '강서구',
 2110657: '강서구',
 2110658: '강서구',
 2110659: '강서구',
 2110660: '강서구',
 2110661: '강서구',
 2110662: '강서구',
 2110663: '강서구',
 2110664: '강서구',
 2110665: '강서구',
 2110666: '강서구',
 2110667: '강서구',
 2110668: '강서구',
 2110669: '강서구',
 2110670: '강서구',
 2110671: '강서구',
 2110672: '강서구',
 2110673: '강서구',
 2110674: '강서구',
 2110675: '강서구',
 2110676: '강서구',
 2110677: '강서구',
 2110678: '강서구',
 2110679: '강서구',
 2110680: '구로구',
 2110681: '구로구',
 2110682: '구로구',
 2110683: '구로구',
 2110684: '구로구',
 2110685: '구로구',
 2110686: '구로구',
 2110687: '구로구',
 2110688: '구로구',
 2110689: '구로구',
 2110690: '구로구',
 2110691: '구로구',
 2110692: '구로구',
 2110693: '구로구',
 2110694: '구로구',
 2110695: '구로구',
 2110696: '구로구',
 2110697: '구로구',
 2110698: '구로구',
 2110699: '구로구',
 2110700: '구로구',
 2110701: '구로구',
 2110702: '구로구',
 2110703: '구로구',
 2110704: '구로구',
 2110705: '구로구',
 2110706: '구로구',
 2110707: '구로구',
 2110708: '구로구',
 2110709: '구로구',
 2110710: '구로구',
 2110711: '구로구',
 2110712: '구로구',
 2110713: '구로구',
 2110714: '구로구',
 2110715: '구로구',
 2110716: '구로구',
 2110717: '구로구',
 2110718: '구로구',
 2110719: '구로구',
 2110720: '구로구',
 2110721: '구로구',
 2110722: '구로구',
 2110723: '금천구',
 2110724: '금천구',
 2110725: '금천구',
 2110726: '금천구',
 2110727: '금천구',
 2110728: '금천구',
 2110729: '금천구',
 2110730: '금천구',
 2110731: '금천구',
 2110732: '금천구',
 2110733: '금천구',
 2110734: '금천구',
 2110735: '금천구',
 2110736: '금천구',
 2110737: '금천구',
 2110738: '금천구',
 2110739: '금천구',
 2110740: '금천구',
 2110741: '금천구',
 2110742: '금천구',
 2110743: '금천구',
 2110744: '금천구',
 2110745: '금천구',
 2110746: '금천구',
 2110747: '금천구',
 2110748: '금천구',
 2110749: '금천구',
 2110750: '금천구',
 2110751: '금천구',
 2110752: '금천구',
 2110753: '금천구',
 2110754: '금천구',
 2110755: '금천구',
 2110756: '영등포구',
 2110757: '영등포구',
 2110758: '영등포구',
 2110759: '영등포구',
 2110760: '영등포구',
 2110761: '영등포구',
 2110762: '영등포구',
 2110763: '영등포구',
 2110764: '영등포구',
 2110765: '영등포구',
 2110766: '영등포구',
 2110767: '영등포구',
 2110768: '영등포구',
 2110769: '영등포구',
 2110770: '영등포구',
 2110771: '영등포구',
 2110772: '영등포구',
 2110773: '영등포구',
 2110774: '영등포구',
 2110775: '영등포구',
 2110776: '영등포구',
 2110777: '영등포구',
 2110778: '영등포구',
 2110779: '영등포구',
 2110780: '영등포구',
 2110781: '영등포구',
 2110782: '영등포구',
 2110783: '영등포구',
 2110784: '영등포구',
 2110785: '영등포구',
 2110786: '영등포구',
 2110787: '영등포구',
 2110788: '영등포구',
 2110789: '영등포구',
 2110790: '영등포구',
 2110791: '영등포구',
 2110792: '영등포구',
 2110793: '영등포구',
 2110794: '영등포구',
 2110795: '영등포구',
 2110796: '영등포구',
 2110797: '영등포구',
 2110798: '영등포구',
 2110799: '영등포구',
 2110800: '영등포구',
 2110801: '영등포구',
 2110802: '영등포구',
 2110803: '영등포구',
 2110804: '영등포구',
 2110805: '영등포구',
 2110806: '영등포구',
 2110807: '영등포구',
 2110808: '영등포구',
 2110809: '영등포구',
 2110810: '영등포구',
 2110811: '영등포구',
 2110812: '영등포구',
 2110813: '영등포구',
 2110814: '영등포구',
 2110815: '영등포구',
 2110816: '영등포구',
 2110817: '영등포구',
 2110818: '동작구',
 2110819: '동작구',
 2110820: '동작구',
 2110821: '동작구',
 2110822: '동작구',
 2110823: '동작구',
 2110824: '동작구',
 2110825: '동작구',
 2110826: '동작구',
 2110827: '동작구',
 2110828: '동작구',
 2110829: '동작구',
 2110830: '동작구',
 2110831: '동작구',
 2110832: '동작구',
 2110833: '동작구',
 2110834: '동작구',
 2110835: '동작구',
 2110836: '동작구',
 2110837: '동작구',
 2110838: '동작구',
 2110839: '동작구',
 2110840: '동작구',
 2110841: '동작구',
 2110842: '동작구',
 2110843: '동작구',
 2110844: '동작구',
 2110845: '동작구',
 2110846: '동작구',
 2110847: '동작구',
 2110848: '동작구',
 2110849: '동작구',
 2110850: '동작구',
 2110851: '동작구',
 2110852: '동작구',
 2110853: '관악구',
 2110854: '관악구',
 2110855: '관악구',
 2110856: '관악구',
 2110857: '관악구',
 2110858: '관악구',
 2110859: '관악구',
 2110860: '관악구',
 2110861: '관악구',
 2110862: '관악구',
 2110863: '관악구',
 2110864: '관악구',
 2110865: '관악구',
 2110866: '관악구',
 2110867: '관악구',
 2110868: '관악구',
 2110869: '관악구',
 2110870: '관악구',
 2110871: '관악구',
 2110872: '관악구',
 2110873: '관악구',
 2110874: '관악구',
 2110875: '관악구',
 2110876: '관악구',
 2110877: '관악구',
 2110878: '관악구',
 2110879: '관악구',
 2110880: '관악구',
 2110881: '관악구',
 2110882: '관악구',
 2110883: '관악구',
 2110884: '관악구',
 2110885: '관악구',
 2110886: '관악구',
 2110887: '관악구',
 2110888: '관악구',
 2110889: '관악구',
 2110890: '관악구',
 2110891: '관악구',
 2110892: '관악구',
 2110893: '관악구',
 2110894: '관악구',
 2110895: '관악구',
 2110896: '관악구',
 2110897: '관악구',
 2110898: '관악구',
 2110899: '관악구',
 2110900: '관악구',
 2110901: '관악구',
 2110902: '관악구',
 2110903: '서초구',
 2110904: '서초구',
 2110905: '서초구',
 2110906: '서초구',
 2110907: '서초구',
 2110908: '서초구',
 2110909: '서초구',
 2110910: '서초구',
 2110911: '서초구',
 2110912: '서초구',
 2110913: '서초구',
 2110914: '서초구',
 2110915: '서초구',
 2110916: '서초구',
 2110917: '서초구',
 2110918: '서초구',
 2110919: '서초구',
 2110920: '서초구',
 2110921: '서초구',
 2110922: '서초구',
 2110923: '서초구',
 2110924: '서초구',
 2110925: '서초구',
 2110926: '서초구',
 2110927: '서초구',
 2110928: '서초구',
 2110929: '서초구',
 2110930: '서초구',
 2110931: '서초구',
 2110932: '서초구',
 2110933: '서초구',
 2110934: '서초구',
 2110935: '서초구',
 2110936: '서초구',
 2110937: '서초구',
 2110938: '서초구',
 2110939: '서초구',
 2110940: '서초구',
 2110941: '서초구',
 2110942: '서초구',
 2110943: '서초구',
 2110944: '서초구',
 2110945: '서초구',
 2110946: '서초구',
 2110947: '서초구',
 2110948: '서초구',
 2110949: '강남구',
 2110950: '강남구',
 2110951: '강남구',
 2110952: '강남구',
 2110953: '강남구',
 2110954: '강남구',
 2110955: '강남구',
 2110956: '강남구',
 2110957: '강남구',
 2110958: '강남구',
 2110959: '강남구',
 2110960: '강남구',
 2110961: '강남구',
 2110962: '강남구',
 2110963: '강남구',
 2110964: '강남구',
 2110965: '강남구',
 2110966: '강남구',
 2110967: '강남구',
 2110968: '강남구',
 2110969: '강남구',
 2110970: '강남구',
 2110971: '강남구',
 2110972: '강남구',
 2110973: '강남구',
 2110974: '강남구',
 2110975: '강남구',
 2110976: '강남구',
 2110977: '강남구',
 2110978: '강남구',
 2110979: '강남구',
 2110980: '강남구',
 2110981: '강남구',
 2110982: '강남구',
 2110983: '강남구',
 2110984: '강남구',
 2110985: '강남구',
 2110986: '강남구',
 2110987: '강남구',
 2110988: '강남구',
 2110989: '강남구',
 2110990: '강남구',
 2110991: '강남구',
 2110992: '강남구',
 2110993: '강남구',
 2110994: '강남구',
 ...}

## 매출 데이터 불러오기

In [16]:
df_sell = pd.read_excel('C:/Data_Engineer_Study/멀캠_PJT_1/Data_set/Raw_Data/상권 매출데이터/[탐색적분석용]21년도_34분기_매출 데이터.xlsx')

In [17]:
df_sell.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2021,3,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,662559533,28490,...,202,17439,8383,221,1476,2201,4868,8695,8364,26
1,2021,3,A,골목상권,2110002,독립문역 1번,CS100001,한식음식점,391192386,17884,...,271,9785,6311,35,1292,1769,3619,4990,4395,30
2,2021,3,A,골목상권,2110003,세검정초등학교,CS100001,한식음식점,138029353,5471,...,231,3851,924,33,413,728,444,1149,2009,15
3,2021,3,A,골목상권,2110004,대신고등학교,CS100001,한식음식점,401067272,11169,...,347,4944,3889,15,848,1050,1800,2326,2800,12
4,2021,3,A,골목상권,2110005,세검정,CS100001,한식음식점,360012431,11832,...,140,5276,5541,94,1446,1336,2364,2650,2929,17

In [18]:
# df_sell['상권_코드'] = df_sell.상권_코드.map(lambda x:dic[x])
# -> 매핑하려고 했는데 코드번호 2120068번이 누락되었음

In [19]:
df.loc[df['코드'] == 2120068] #2120068 누락 확인

Empty DataFrame
Columns: [자치구, 동, 코드]
Index: []

In [20]:
# 2120068번 코드 추가작업
newcol = {'자치구': '중랑구',
          '동' : '면목3.8동',
          '코드' : 2120068}

In [21]:
df = df.append(newcol, ignore_index = True)

C:\Users\yju12\AppData\Local\Temp\ipykernel_12900\2140942824.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(newcol, ignore_index = True)

In [22]:
df.to_csv('구,동별_코드_완료.csv') # 저장

In [23]:
dic = dict(zip(df.코드, df.자치구))

In [24]:
df_sell.insert(5,'자치구', df_sell.상권_코드.map(lambda x:dic[x]))

In [25]:
df_sell.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,자치구,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2021,3,A,골목상권,2110001,종로구,이북5도청사,CS100001,한식음식점,662559533,...,202,17439,8383,221,1476,2201,4868,8695,8364,26
1,2021,3,A,골목상권,2110002,종로구,독립문역 1번,CS100001,한식음식점,391192386,...,271,9785,6311,35,1292,1769,3619,4990,4395,30
2,2021,3,A,골목상권,2110003,종로구,세검정초등학교,CS100001,한식음식점,138029353,...,231,3851,924,33,413,728,444,1149,2009,15
3,2021,3,A,골목상권,2110004,종로구,대신고등학교,CS100001,한식음식점,401067272,...,347,4944,3889,15,848,1050,1800,2326,2800,12
4,2021,3,A,골목상권,2110005,종로구,세검정,CS100001,한식음식점,360012431,...,140,5276,5541,94,1446,1336,2364,2650,2929,17

In [26]:
# df_sell 에 '동' 컬럼 추가
dic2 = dict(zip(df.코드, df.동))
df_sell.insert(6,'동', df_sell.상권_코드.map(lambda x:dic2[x]))

In [27]:
df_sell.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,자치구,동,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2021,3,A,골목상권,2110001,종로구,평창동,이북5도청사,CS100001,한식음식점,...,202,17439,8383,221,1476,2201,4868,8695,8364,26
1,2021,3,A,골목상권,2110002,종로구,무악동,독립문역 1번,CS100001,한식음식점,...,271,9785,6311,35,1292,1769,3619,4990,4395,30
2,2021,3,A,골목상권,2110003,종로구,부암동,세검정초등학교,CS100001,한식음식점,...,231,3851,924,33,413,728,444,1149,2009,15
3,2021,3,A,골목상권,2110004,종로구,무악동,대신고등학교,CS100001,한식음식점,...,347,4944,3889,15,848,1050,1800,2326,2800,12
4,2021,3,A,골목상권,2110005,종로구,부암동,세검정,CS100001,한식음식점,...,140,5276,5541,94,1446,1336,2364,2650,2929,17

In [28]:
df_sell.to_csv('21년도_34분기_매출 데이터(자치구, 동추가).csv')

## 20~23년도 매출데이터도 마찬가지로 작업

19년도

In [29]:
df_sell2019 = pd.read_csv('C:/Data_Engineer_Study/멀캠_PJT_1/Data_set/Raw_Data/상권 매출데이터/서울시_상권분석서_추정매출)_2019년.csv', encoding = 'cp949')

In [30]:
df_sell2019.insert(5,'자치구', df_sell2019.상권_코드.map(lambda x:dic[x]))
df_sell2019.insert(6,'동', df_sell2019.상권_코드.map(lambda x:dic2[x]))

In [31]:
df_sell2019.head(1)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,자치구,동,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2019,1,A,골목상권,2110001,종로구,평창동,이북5도청사,CS100001,한식음식점,...,382,13204,6513,35,864,1963,4440,6123,6287,25

In [32]:
df_sell2019.to_csv('19년도_매출 데이터(자치구, 동추가).csv',  encoding = 'cp949')

20년도

In [33]:
df_sell2020 = pd.read_csv('C:/Data_Engineer_Study/멀캠_PJT_1/Data_set/Raw_Data/상권 매출데이터/서울시_상권분석서_추정매출)_2020년.csv', encoding = 'cp949')

In [34]:
df_sell2020.insert(5,'자치구', df_sell2020.상권_코드.map(lambda x:dic[x]))
df_sell2020.insert(6,'동', df_sell2020.상권_코드.map(lambda x:dic2[x]))

In [35]:
df_sell2020.head(1)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,자치구,동,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2020,1,A,골목상권,2110001,종로구,평창동,이북5도청사,CS100001,한식음식점,...,561,14980,8039,86,1875,2243,4809,7609,6398,28

In [36]:
df_sell2020.to_csv('20년도_매출 데이터(자치구, 동추가).csv',  encoding = 'cp949')

21년도

In [37]:
df_sell2021 = pd.read_csv('C:/Data_Engineer_Study/멀캠_PJT_1/Data_set/Raw_Data/상권 매출데이터/서울시_상권분석서_추정매출)_2021년.csv', encoding = 'cp949')

In [38]:
df_sell2021.insert(5,'자치구', df_sell2021.상권_코드.map(lambda x:dic[x]))
df_sell2021.insert(6,'동', df_sell2021.상권_코드.map(lambda x:dic2[x]))
df_sell2021.head(1)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,자치구,동,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2021,1,A,골목상권,2110001,종로구,평창동,이북5도청사,CS100001,한식음식점,...,157,15667,7253,108,1098,2013,4344,7792,7568,28

In [39]:
df_sell2021.to_csv('21년도_매출 데이터(자치구, 동추가).csv',  encoding = 'cp949')

22년도

In [40]:
df_sell2022 = pd.read_csv('C:/Data_Engineer_Study/멀캠_PJT_1/Data_set/Raw_Data/상권 매출데이터/서울시_상권분석서_추정매출)_2022년.csv', encoding = 'cp949')

In [41]:
df_sell2022.head(1)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,4770649.0,1016,...,0,34,982,77,779,87,24,44,5,6

In [42]:
df_sell2022.insert(5,'자치구', df_sell2022.상권_코드.map(lambda x:dic[x]))
df_sell2022.insert(6,'동', df_sell2022.상권_코드.map(lambda x:dic2[x]))
df_sell2022.head(1)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,자치구,동,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2022,4,U,관광특구,1001496,강남구,삼성1동,강남 마이스 관광특구,CS300043,전자상거래업,...,0,34,982,77,779,87,24,44,5,6

In [43]:
df_sell2022.to_csv('22년도_매출 데이터(자치구, 동추가).csv',  encoding = 'cp949')